* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.header {
    border-bottom: 1px solid #BFBFBF;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.basket-img {
    margin-right: 50px;
}

.logo-title {
    margin-left: 50px;
}

.header a {
    display: block;
    text-decoration: none;
    outline: none;
    transition: .3s ease-in-out;
}

.menu-name {
    margin-bottom: 10px;
    font-weight: 500;
}

nav {
    display: table;
    margin: 0 auto;
    align-self: flex-end;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu:after {
    content: "";
    display: table;
    clear: both;
}

.topmenu > li {
    width: 25%;
    float: left;
    position: relative;
}

.topmenu > li > a {
    font-size: 14px;
    font-weight: bold;
    padding: 15px 30px;
}

.submenu {
    background: #353535;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 180px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin :0 0;
    transition: .5s ease-in-out;
    margin-top: 10px;
}
.submenu a {
    color: white;
    text-align: left;
    padding: 12px 15px;
    font-size: 13px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.submenu li:last-child a {
    border-bottom: none;
}

.topmenu > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
}

.topmenu li a:hover {
    color: #8D2FF7;
}

.img-product {
    width: 150px;
    margin: 0 auto;
}

.cards{ 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 45px; 
    width: 80%; 
    max-width: 1200px; 
    margin: 0 auto;
} 
 
.product-card { 
    display: flex; 
    flex-direction: column; 
    padding: 25px 20px;  
    border-radius: 5px;
    justify-content: space-between;
    background: #f6f6f6;
}

.desc-product {
    margin-bottom: 7px;
    margin-top: 7px;
    text-align: justify;
}

.title-product {
    font-weight: bold;
    width: 230px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-card {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.buy-btn:hover {
    color: #8D2FF7;
}

.buy-btn {
    background-color: #353535;
    color: #FFF;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
}


.info {
    display: flex; 
    flex-direction: column; 
}

.logo {
    width: 40px;
    height: 40px;
}

.logo-title {
    font-weight: 600;
    font-size: 30px;
}

.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup-bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.product-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #FFF;
    border-radius: 5px;
    width: 500px;
    padding: 25px;
    transition: 0.5s all;
}

.product-popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #8D2FF7;
}

.photo-pop {
    width: 300px;
}

.rating-pop {
    display: flex;
    align-items: center;
}

.star-img {
    width: 13px;
    height: 13px;
}

.main-info {
    display: flex;
    align-items: flex-end;
}

.main-txt {
    margin-left: 20px;
}

.pop-btn {
    padding: 10px 20px;
}

.rating-pop-txt {
    margin-left: 5px;
}

.title-pop {
    font-size: 18px;
    font-weight: 700;
}

.head-about {
    font-weight: 600;
    color:#353535
}

.title-pop,  .price{
    margin-bottom: 0px;
    margin-top: 0px;
}

.basket-img {
    width: 40px;
}