.basket-elem-photo {
    width: 70px;
}

.basket-wrapper {
    width: 100%;
}

.basket-head {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.basket-block {
    width: 70%;
}

.delete-btn, .clear-btn {
    font-family: 'Montserrat', sans-serif;
    background: none;
    border: none;
}

.clear-btn {
    font-size: 18px;
    font-weight: 600;
}

.basket-elem-amount {
    width: 25px;
    height: 25px;
    border: none;
    text-align: center;
}

.plus-btn, .minus-btn {
    font-family: 'Montserrat', sans-serif;
    background: none;
    border: none;
}

.amount-block {
    border: 1px solid #c8c8c8;
    border-radius: 3px;
    height: 27px;
    width: 80px;
    margin-left: 20px;
    text-align: center;
}

.basket-wrapper {
    margin-left: 50px;
}

.basket-elem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #c8c8c8;
}

.basket-elem-main {
    display: flex;
    align-items: center;
}

.basket-elem-title {
    margin-left: 10px;
}

.basket-elem-second {
    display: flex;
    align-items: center;
}

.basket-elem-other {
    display: flex;
    flex-direction: column;
}

.delete-btn {
    align-self: flex-end;
}

.delete-btn:hover {
    color: #8D2FF7;
}