.img-product {
    width: 150px;
    margin: 0 auto;
}

#card-4 .img-product {
    width: 100px;
}

.cards{ 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    grid-gap: 45px; 
    width: 80%; 
    max-width: 1200px; 
    margin: 0 auto;
} 
 
.product-card { 
    display: flex; 
    flex-direction: column; 
    padding: 25px 20px;  
    border-radius: 5px;
    justify-content: space-between;
    align-self: flex-end;
}

.title-product {
    font-weight: bold;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-card {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.buy-btn:hover {
    color: #8D2FF7;
}

.buy-btn {
    background-color: #353535;
    color: #FFF;
    border-radius: 2px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
}

.info {
    display: flex; 
    flex-direction: column; 
}

.logo-title {
    font-weight: 600;
    font-size: 30px;
}

.sort-list {
    margin-top: 20px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}