.header {
    background: #353535;
    color: #FFF;
    text-align: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    padding: 0px 30px;
}

.amount-goods {
    margin-left: 10px;
    font-size: 18px;
}

.basket-img {
    width: 40px;
    height: 40px;
}

#head-cat {
    margin-left: 70px;
}

.basket {
    display: flex;
    align-items: center;
}

.header a {
    display: block;
    text-decoration: none;
    outline: none;
    transition: .3s ease-in-out;
}

.menu-name {
    font-weight: 500;
    margin-top: 10px;
}

.head {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.basket-desktop, .amount-desk {
    display: block;
}

.basket-mobile, .amount-mob {
    display: none;
}

.header {
    padding-bottom: 5px;
}

#search-input {
    height: 32px;
    font-family: 'Montserrat', sans-serif;
    align-self: center;
    background-image: url('img/search.svg');
    background-repeat: no-repeat;
    padding-left: 35px;
    background-position: 5px center;
    border-radius: 5px;
    width: 100%;
    margin-top: 5px;
}

nav {
    display: table;
    margin: 0 auto;
    align-self: flex-end;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topmenu:after {
    content: "";
    display: table;
    clear: both;
}

.topmenu > li {
    width: 25%;
    float: left;
    position: relative;
}

.topmenu > li > a {
    font-size: 14px;
    font-weight: bold;
    padding: 15px 30px;
}

.submenu {
    background: #f8f8f8;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 5;
    width: 180px;
    opacity: 0;
    transform: scaleY(0);
    transform-origin :0 0;
    transition: .5s ease-in-out;
    margin-top: 10px;
}
.submenu a {
    color: #353535;
    text-align: left;
    padding: 12px 15px;
    font-size: 13px;
    border-bottom: 1px solid rgba(255,255,255,.1);
}

.submenu li:last-child a {
    border-bottom: none;
}

.topmenu > li:hover .submenu {
    opacity: 1;
    transform: scaleY(1);
}

.topmenu li a:hover, .topmenu li.active-link a {
    color: #FFF;
    background: #353535;
}