.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s all;
}

.popup-bg.active {
    opacity: 1;
    pointer-events: all;
    transition: 0.5s all;
}

.product-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #FFF;
    border-radius: 5px;
    width: 500px;
    padding: 25px;
    transition: 0.5s all;
}

.product-popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.photo-pop {
    width: 300px;
}

.rating-pop {
    display: flex;
    align-items: center;
}

.star-img {
    width: 13px;
    height: 13px;
}

.main-info {
    display: flex;
    align-items: flex-end;
}

.main-txt {
    margin-left: 20px;
}

.pop-btn {
    padding: 10px 20px;
}

.rating-pop-txt {
    margin-left: 5px;
}

.title-pop {
    font-size: 18px;
    font-weight: 700;
    margin-right: 15px;
}

.head-about {
    font-weight: 600;
    color:#353535
}

.title-pop,  .price{
    margin-bottom: 0px;
    margin-top: 0px;
}